@use "~/assets/scss/global/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $primaryColor;
}

body {
    font-family: $primaryFont;
    font-weight: 800;
    background-color: $primaryColor;
    -webkit-tap-highlight-color: transparent;
    padding-top: env(safe-area-inset-top);
}

html,
body,
.full-page-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    height: 100%;
    width: 100%;

    overscroll-behavior: none;
}

input {
    font-family: $primaryFont;
}

.btn {
    border-style: none;
    padding: 4px 8px;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}

.nav-btn {
    background-color: var(--theme-color);
    display: flex;
    gap: 0.4rem;

    font-family: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    color: $white-font-text;

    height: fit-content;
    border: none;
    border-radius: 8px;
    padding: 4px 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.2s ease-out;
    &:active {
        background-color: $secondaryColor !important;
    }
}
