@mixin safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
}

$compact-bar-height: 35px;

.cancel-btn {
    background-color: $secondaryColor;
    padding: 3px 3px;
}

.start-btn {
    width: 100%;
    padding: 8px 12px;
}

.sheet-header {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .drag-pill {
        width: 40px;
        height: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }
}

.sheet-body {
    padding: 0 20px 10px 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.trip-info {
    opacity: 1;
    flex: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-right: 1.2rem;
    align-items: center;
    font-size: 1.8rem;

    transition: 0.4s ease;

    .dest-name {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 700;
        color: $white-font-text;

        @media (orientation: landscape) {
            font-size: 2rem;
        }
    }

    .mini-stats {
        max-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 8px;
        font-size: 1.8rem;
        transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
            max-height 0.1s ease-in;

        .eta {
            color: #2ecc71;
            font-weight: 600;
        }

        .dist {
            color: rgba(255, 255, 255, 0.6);
        }

        @media (orientation: landscape) {
            font-size: 2rem;
        }
    }

    @media (orientation: landscape) {
        padding-right: 2.4rem;
    }

    @media (orientation: portrait) {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2px;
    }
}

.bottom-sheet {
    max-height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2000;

    background-color: $primaryColor;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.4);

    border: 2px solid var(--theme-color);
    border-bottom: none;

    display: flex;
    flex-direction: column;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.is-expanded {
        .expanded-content {
            max-height: 300px;
            opacity: 1;
            margin-top: 10px;
            transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .mini-stats {
            opacity: 0;
        }

        .drag-pill {
            background-color: var(--theme-color);
        }
    }

    &.is-hidden {
        transform: translateY(100%);
        border-color: transparent;
        box-shadow: 0 -4px 20px rgba(0, 0, 0, 0);

        .trip-info {
            opacity: 0;
        }

        .hide-sheet {
            top: -46px;
            right: 6px;
            z-index: 9;
        }

        .hide-sheet-btn {
            height: calc($compact-bar-height - 8px);
            padding: 6px 6px;
        }
    }
}

.expanded-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.chevron-icon {
    color: $white-font-text;
}

.hide-sheet {
    position: absolute;
    top: -40px;
    right: 15px;
    transition: 0.4s ease;

    .hide-sheet-btn {
        display: flex;
        gap: 2px;
        padding: 4px 10px;
    }
}

// COMPACT INFO TRANSITION
.compact-slide-enter-active {
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.compact-slide-leave-active {
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.compact-slide-enter-from,
.compact-slide-leave-to {
    opacity: 0;
    transform: translateX(30%);
}

.compact-trip-progress {
    position: absolute;
    top: -50px;
    right: -2px;
    padding: 4px 48px 4px 12px;

    display: flex;
    gap: 1.4rem;
    height: $compact-bar-height;

    font-size: 1.8rem;
    color: $white-font-text;

    border: 1.5px solid var(--theme-color);
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background-color: $primaryColor;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.separator {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0 20px 0;
}

.full-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;

    .stat-block {
        display: flex;
        align-items: center;
        gap: 12px;

        .icon-eta {
            color: #2ecc71;
        }

        .icon-dist {
            color: var(--theme-color);
        }

        .value {
            font-size: 1.9rem;
            font-weight: 700;
            color: $white-font-text;
        }

        .label {
            font-size: 1.3rem;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
