$button-padding: 8px 10px;

/**
 * GENERAL
 */
.settings-panel {
    background-color: $primaryColor;
    height: 100dvh;
    width: 100dvw;

    padding-top: 1.8rem;
    font-weight: 600;

    display: flex;
    flex-direction: column;
}

.settings-wrapper {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.setting {
    padding-left: 2rem;
    padding-right: 2rem;
    color: $white-font-text;

    font-size: 1.8rem;
}

.menu-list {
    overflow-y: auto;

    display: flex;

    flex-direction: column;
    gap: 1.6rem;

    &.main {
        gap: 2.6rem;
    }

    padding-bottom: 3.2rem;

    /* Hide scrollbar for browsers */
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.selector {
    min-width: 150px;
    max-width: 200px;

    background: $default-background-color-dark;
    border-radius: 5px;

    padding: $button-padding;

    font-weight: 700;
    font-size: 1.6rem;
    color: $white-font-text;

    cursor: pointer;
}

.settings-title {
    padding-left: 2rem;

    font-size: 1.4rem;

    display: flex;
    align-content: center;
    align-items: center;
    gap: 1.8rem;

    width: 100%;
}

.icon-btn {
    min-width: 26px;
    min-height: 26px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.title-icon {
    min-width: 38px;
    min-height: 38px;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.panel-title {
    font-size: 2rem;
    font-weight: 600;
}

.panel-description {
    opacity: 0.7;
    font-weight: 500;
}

.separator {
    height: 2px;
    width: 100%;
    background-color: $secondaryColor;
    border-radius: 3px;

    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
}

.small-separator {
    height: 1px;
    width: 90%;
    align-self: center;
    flex-shrink: 0;
    background-color: $secondaryColor;
    opacity: 0.7;
    border-radius: 3px;
}

.settings-btn {
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0s;
    font-weight: 700;
    box-shadow: none;
    padding: $button-padding;
    font-size: 1.6rem;

    transition: 0.2s ease all;

    &.default-color {
        background-color: $default-background-color-dark;
        color: $white-font-text;
    }

    &.increase-decrease {
        display: flex;
        padding: 0;

        font-size: 2rem;
        width: 3.2rem;
        height: 3.2rem;

        align-items: center;
        justify-content: center;
    }

    &:active {
        opacity: 0.5;
        transform: translateY(1px);
    }
}

.cancel-timer-icon {
    color: $red-color;
}

.actual-truck-preview {
    background-size: contain;
}

/**
 * COLOR SETTINGS
 */
.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-title {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    span {
        width: 24px;
        height: 24px;
    }
}

.picker-footer {
    display: flex;
    align-items: center;

    background: $primaryDarkerColor;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.color-options {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.increase-option {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.change-color-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.color-picker {
    background-color: $secondaryColor;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 4px;
}

.small-reset {
    height: 100%;
    width: 100%;

    display: flex;
    gap: 0.8rem;
}
/**
 * DLC SETTINGS
 */
.owned-dlcs {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include for-phone {
        font-size: 1.2rem;
    }
}
